@{
    ViewData["Title"] = "Education";
}
<style>
    .float {
        float: right;
    }
</style>
<h1>Education</h1>
<p>Sacred Heart Nursery and Primary School Odoakpu Onitsha   
    <span class="float">Sept 2006 - June 2011 

    </span></p>
<p>
    Godfrey Okoye University Secondary School Enugu    <span class="float">Sept 2011 -  July 2017</span>
</p>
<p>
    Enugu State University of Science and Technology <br/>Bachelor of Science in Biochemistry
   <span class="float">Sept 2018 - Dec 2022</span>
</p>

<!-- Add more info -->


