@{
    ViewData["Title"] = "Experiences";
}
<h1>Experiences</h1>
<h2>
    Frontend Developer(Freelance) 
    <span class="float">Nov 2024 - present</span>
</h2>
<ul>
    <li>
        Developed and deployed interactive web applications using HTML, CSS, and JavaScript,
        resulting in a 30% increase in user engagement and a 25% improvement in page load speed,
        enhancing overall user experience and satisfaction.
    </li>
    <li>
        Resolved 15+ complex debugging issues weekly within Chrome DevTools by methodically
        analyzing console errors, resulting in a 20% decrease in reported user interface defects and
        increased code stability.
    </li>
    <li>
        Revamped form interface with intuitive labels and streamlined input fields, leading to a 30%
        decrease in user-reported errors and a 15% improvement in task completion rates.
    </li>
</ul>
