@{
    ViewData["Title"] = "Personal Info";
}
<style>
     h1, h4 {
        font-size: 24px;
    }
</style>

<div class="text-center">
    <h1>Personal Information</h1>
    <p>Name: Chinemerem Mmadubuike</p>
    <p>Email: chinemeremmmadubuike4@gmail.com</p>
    <p>Phone: +234 706 450 3826</p>
    

   
</div>
<h4>Summary</h4>
<p>
    Biochemistry graduate transitioning into software development with a strong passion for
    front-end technologies. Proficient in JavaScript, HTML, and CSS, with hands-on
    experience building responsive web applications. Eager to apply analytical and
    problem-solving skills in a fast-paced tech environment while continuously learning and
    improving. Seeking opportunities to apply my skills and contribute to innovative
    development teams.
</p>


