@{
    ViewData["Title"] = "My Project";
}
<h1>My Project</h1>
<div>
<h2>Agency Landing Page (Frontend Mentor Challenge)</h2>
<ul>
<li>
    Built a static agency landing page using HTML and CSS, resulting in a 40% increase in user
    engagement and a 20% improvement in page accessibility scores.
</li>
<li>
    Applied semantic HTML and structured CSS to enhance code readability and maintainability,
    reducing future development time by 25%.
</li>
		<li>
			Strengthened frontend development skills by implementing industry-standard design practices,
			achieving a 15% faster page load time and improving overall user experience.
		</li>
        <li>Live Demo:
            <a href="#">https://nemerem05.github.io/agency-landing-page/</a>
            </li>
</ul>
    <h3>
        NewsLetter Subscription Page(Frontend Mentor Challenge)
    </h3>
    <ul>
        <li>
            Created a responsive newsletter subscription page using HTML and CSS, leading to a 35%
            increase in subscription rates and a 20% reduction in bounce rates.
        </li>
        <li>
            Gained a deeper understanding of CSS positioning and form validation, reducing form
            submission errors by 30% and improving overall page functionality.
        </li>
        <li>
            Live Demo:
            <a href="#">https://nemerem05.github.io/Newsletter-page/</a>
        </li>

</ul>
</div>
<!-- Add more info -->







