@{
    ViewData["Title"] = "My Skill";
}
<h1> Skill</h1>
<h3>
    Technical Skills
</h3>
<ul>
    <li>Programming Skills: JavaScript(ES6+), HTML, CSS.

    </li>
    <li>Frontend Development : UI/UX implementation, responsive web design, DOM manipulation

    </li>
    <li>
        Debugging & Troubleshooting: Chrome DevTools, Console Debugging
    </li>
    <li>
        Version Control; Git, GitHub.
    </li>
</ul>
<!-- Add more info -->

